.tab {
    display: inline-block;
    color: #000000;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid rgba(211, 211, 211, 0);
    transition: background-color 0.3s ease-out;
}

.tab:hover {
    border: 1px solid #0062ce;
}
