#graph {
    font-family: sans-serif;
    line-height: 1;
}

.personNode {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    margin: 0;
    position: absolute;
    box-shadow: 1px 1px 3px #e3eadc;
}

.duplicate {
    border: 1px dashed;
}

.gender-M,.gender-F,.gender-U {
    border-color: #8697b3;
    background: #fdfff8 no-repeat 1px 1px;
    background-size: 18px 18px;
}

.gender-M {
    /*border-color: #3a76f2;*/
    /*background-color: #f3fdff;*/
    background-image: url('images/male.png');
}

.gender-F {
    /*border-color: #da386f;*/
    /*background-color: #fbf1f1;*/
    background-image: url('images/female.png');
}

.gender-U {
    /*border-color: #353427;*/
    /*background-color: #fffee4;*/
    background-image: url('images/unknown.png');
}

.fullName,.altName {
    position: absolute;
    text-indent: 20px;
}

.altName {
    color: #6d6d6d;
}

.isPrincipal,.notPrincipal {
    position: absolute;
    right: 4px;
    width: 15px;
    height: 13px;
    /*border: 1px solid #f4f6ef;*/
    text-align: center;
    font-size: 150%;
    color: #6d6d6d;
}

.notPrincipal {
}

.toolTip .toolTipText {
    visibility: hidden;
    background-color: #eee;
    border: 1px solid darkgray;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    margin-left: 10px;
    font-size: 50%;
}

.toolTip:hover .toolTipText {
    visibility: visible;
    /* Delay 500ms before "Principal" or other tooltip appears */
    transition-delay: 500ms;
    transition-property: visibility;
    -webkit-transition-delay: 500ms; /* Safari */
    -webkit-transition-property: visibility; /* Safari */
}

/* Indent facts 10px; Use Fact Type: <date>; <place>. Wrap if too long using hanging indent. */
.fact {
    padding-left: 20px;
    text-indent: -10px;
}

.factType {
    color: #777777;
    font-size: 70%;
}

.factDatePlace {
    font-size: 70%;
}

.personLine,.familyLine,.personDot {
    background-color: #8697b3;
    position: absolute;
    z-index: 2;
}

.familyLine {
    width: 2px;
}

.personLine {
    height: 2px;
}

.personDot {
    margin: auto;
    height: 6px;
    width: 5px;
    border-radius: 3px 0 0 3px;
}
