#rel-chart {
    font-family: sans-serif;
    line-height: 1;
    position: relative;
}

.personNode {
    border-radius: 4px;
    padding: 2px;
    margin: 0;
    position: absolute;
    box-shadow: 1px 1px 3px #e3eadc;
    border: 1px solid #8697b3;
    background: #fdfff8;
}

.livingPerson {
    background: #f8fdf2;
}

.principalPerson {
    border: 2px solid #8697b3;
}

.duplicate {
    border: 1px dashed;
}

.gender-image {
    position: relative;
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.personDropHover,.personNode[chosen] {
    background: #f4ffae no-repeat 1px 1px;
    background-size: 18px 18px;
}

.fullName,.altName {
    position: relative;
    text-indent: 20px;
    vertical-align: top;
}

.altName {
    color: #6d6d6d;
}

.prefix {
    color: #8a0000;
    font-weight: lighter;
}

.given {
    color: #000000;
    font-weight: bold;
}

.surname {
    color: #400180;
    font-weight: bold;
}

.suffix {
    color: #9c9c9c;
    font-weight: lighter;
}

.isPrincipal,.notPrincipal {
    position: absolute;
    right: 4px;
    width: 15px;
    height: 13px;
    /*border: 1px solid #f4f6ef;*/
    text-align: center;
    font-size: 150%;
    color: #6d6d6d;
}

.toolTip .toolTipText {
    visibility: hidden;
    background-color: #eee;
    border: 1px solid darkgray;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    margin-left: 10px;
    font-size: 50%;
}

.toolTip:hover .toolTipText {
    visibility: visible;
    /* Delay 500ms before "Principal" or other tooltip appears */
    transition-delay: 500ms;
    transition-property: visibility;
    -webkit-transition-delay: 500ms; /* Safari */
    -webkit-transition-property: visibility; /* Safari */
}

.record-highlight {
    outline: rgba(255, 21, 5, 0.5) solid 3px;
    z-index: 20;
}
.img-highlight {
    outline: rgb(255, 21, 5) solid 6px;
    z-index: 20;
}

.highlight-helper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 0, .3);
    z-index: 99;
}

/* Indent facts 10px; Use Fact Type: <date>; <place>. Wrap if too long using hanging indent. */
.fact {
    padding-left: 20px;
    text-indent: -10px;
}

.factType,.relativeType {
    color: #777777;
    font-size: 70%;
}

.confidence {
    color: #628d62;
    font-size: 12px;
}

.factDatePlace,.relativeName {
    font-size: 70%;
}

.personLine,.familyLine,.personDot {
    background-color: #8697b3;
    position: absolute;
    z-index: 2;
}

.familyLine {
    width: 2px;
}

.familyLineDropZone {
    width: 6px;
    background-color: transparent;
    position:relative;
    left: -2px;
    top: 0;
}

.familyLineDropZone:hover {
    background-color: #8697b3;
}

.familyDropHover {
    background-color: #a7b385;
}

.familyLine[chosen] > .familyLineDropZone {
    background-color: transparent;
}

.familyLine[chosen] {
    background-color: #23ed21;
    box-shadow: #6c757d;
    width: 4px;
}

.personLine {
    height: 2px;
}

.personDot {
    margin: auto;
    height: 6px;
    width: 5px;
    border-radius: 3px 0 0 3px;
}

/* Edit controls */
.relX,.childX,.relPlus {
    position: absolute;
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
    z-index: 5;
}

.relX,.childX {
    background-image: url('images/x.png');
}

.relPlus {
    background-image: url('images/plus.png');
}

.gapDrop {
    position: absolute;
    /*background-color: yellow;*/
}

/* When a person box is being dragged over a generation gap drop zone */
.gapDropHover {
    background-color: #f6f1b0;
}

/* Optional style added when the relationship graph is being displayed floating on top of an image. */
.backdrop {
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    box-shadow: 0 0 3px 15px rgba(255, 255, 255, 0.7);
}

.grumpy {
    outline-color: rgba(255, 252, 0, 1);
    outline-width: 8px;
    outline-style: dotted;
}

/* Arrows */
.right-indicator-show,.left-indicator-show,.top-indicator-show,.bottom-indicator-show,
.right-indicator-hide,.left-indicator-hide,.top-indicator-hide,.bottom-indicator-hide {
    position: absolute;
    background-repeat: no-repeat;
    z-index:400;
}

.right-indicator-show {
    right:-10px;
    width:10px;
    top: 50%;
    margin-top: -10px;
    height:20px;
    background-image: url('images/arrows/half-right.png');
    background-size: 10px 20px;
}

.left-indicator-show {
    left:-10px;
    width:10px;
    top: 50%;
    margin-top: -10px;
    height:20px;
    background-image: url('images/arrows/half-left.png');
    background-size: 10px 20px;
}

.top-indicator-show {
    top:-10px;
    height:10px;
    width:20px;
    left: 50%;
    margin-left: -10px;
    background-image: url('images/arrows/half-top.png');
    background-size: 20px 10px;
}

.bottom-indicator-show {
    bottom:-10px;
    height:10px;
    width:20px;
    left: 50%;
    margin-left: -10px;
    background-image: url('images/arrows/half-bottom.png');
    background-size: 20px 10px;
}

.right-indicator-hide,.left-indicator-hide,.top-indicator-hide,.bottom-indicator-hide {
    opacity: .30;
}

.right-indicator-hide {
    right:0;
    width:10px;
    height:20px;
    top: 50%;
    margin-top: -10px;
    background-image: url('images/arrows/half-left.png');
    background-size: 10px 20px;
}

.left-indicator-hide {
    left:0;
    width:10px;
    height:20px;
    top: 50%;
    margin-top: -10px;
    background-image: url('images/arrows/half-right.png');
    background-size: 10px 20px;
}

.top-indicator-hide {
    top:0;
    height:10px;
    width:20px;
    left: 50%;
    margin-left: -10px;
    background-image: url('images/arrows/half-bottom.png');
    background-size: 20px 10px;
}

.bottom-indicator-hide {
    bottom:0;
    height:10px;
    width:20px;
    left: 50%;
    margin-left: -10px; /* to center it */
    background-image: url('images/arrows/half-top.png');
    background-size: 20px 10px;
}
