.local-pid {
    margin-right: 1ex;
}

.principal, .relative-type, .gender, .lang, .name-type {
    margin-left: 1ex;
}

.gender-female {
    background-color: deeppink;
}

.gender-male {
    background-color: darkblue;
}

.gx-node-select {
    cursor: crosshair;
}

.link-unstyled {
    color: inherit;
    text-decoration: inherit;
}

.trigger {
    cursor: pointer;
}

.not {
    text-decoration: line-through;
}

pre {
    white-space: pre-wrap;
    max-width: inherit;
    max-height: 40vh;
    overflow-y: auto;
}
