.local-pid {
    margin-right: 1ex;
}

.principal, .relative-type, .gender {
    margin-left: 1ex;
}

.gender-female {
    background-color: hotpink;
}

.gender-male {
    background-color: cornflowerblue;
}

.gx-node-select {
    cursor: crosshair;
}

.link-unstyled {
    color: inherit;
    text-decoration: inherit;
}

.toggleable {
    cursor: pointer;
}

.not {
    text-decoration: line-through;
}

pre {
    white-space: pre-wrap;
    max-width: inherit;
    max-height: 40vh;
    overflow-y: auto;
}
