.timestamp {
    background-color: #fdfff8;
    vertical-align: top;
}
.ts-date {
    color: #1199cb;
}
.ts-time {
    color: #1199cb80;
    font-size: small;
}
.relative-id {
    color: #bb8a77;
    font-size: small;
}
table {
    border-spacing: 0 0;
    border-collapse: collapse;
}
th {
    top: 0;
    background-color: #f2ffeb;
    position: sticky;
    border: 1px solid #d3e8ca;
}
td {
    vertical-align: top;
}
.sort-date {
    padding: 0 20px 0 0;
}
.sort-place {
    color: #767699;
    background-color: #e0eed8;
    border: 1px solid #aecca0;
    font-size: small;
    font-family: sans-serif;
}
.between-cell {
    background-color: #fdfff8;
    border: 1px dashed #f1edea;
}

.between-cell.odd-ts, .timestamp.odd-ts {
    background-color: #eff3e8;
    border: 1px dashed #e5dcd5;
}

.empty-cell {
    border: 1px dashed #f8f7f5;
}

.entry {
    border: 1px solid #ccb475;
    background-color: #fff8eb;
}

.entry.odd-ts {
    background-color: #f5e8d7;
}

.entry-title {
    color: #015b46;
}

#status {
    color: #7211bb;
}

#details {
    position: absolute;
    background: #faf0e4;
    border: 1px solid #d7c6bf;
    border-radius: 5px;
    box-shadow: 8px 8px 8px lightgray;
    padding: 2px;
    z-index: 100;
}

.contributor {
    color: #8eafae;
}
.old-value {
    color:darkred;
}

.new-value {
    color: green;
}

.delete-value {
    color:red;
}

.change-reason {
    color: #4d7e93;
}

.change-message {
    color: #774d93
}

.old-value > .change-message {
    color: #934d72
}

.new-value > .change-message {
    color: #4d9383
}
.child-rel {
    border: 1px solid grey;
}

.child-rel tr td {
    border: 1px solid lightgrey;
    padding: 4px;
}

.merged-from {
    color: #007580;
}

.note-redundant-subject {
    color: #bea4da;
}
.note-subject {
    color: #400180;
}
.note {
    color: #400180;
}

#tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dec49e;
}

#tabs ul li {
    float: left;
    border: 1px solid #eee3d3;
}

#tabs ul li a:hover {
    background-color: #d5b398;
}

.ui-tabs-active, .ui-tabs-active:hover {
    background-color: #c7966d;
}

#tabs ul li a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}

#settings {
    padding: 6px;
    margin: 0 0 0 100px;
    background-color: #f3e4d6;
    border: 1px solid #9d8345;
    border-radius: 5px;
    box-shadow: black;
}
#fact-level-radio {
    display: inline;
}

.ui-widget-header {
    border: 2px solid black;
}

.merge-id {
    border: 1px solid #dccbb5;
    background-color: #eff1da;
}

.merge-id-dup {
    border: 1px solid #dccbb5;
    background-color: #f1e9da;
}

.end-gx {
    border: 1px solid #dad9ce;
    background-color: #faf8eb
}

.identity-gx {
    border: 1px solid #cedace;
    background-color: #f3f8f3
}
.merge-node {
    border: 1px solid #cedace;
    background-color: #f8f8f3;
}
.note {
    background-color: #fafcf7;
    border: 1px solid #cedace;
    white-space: pre;
}
.selected * {
    background-color: #fcfcaa;
}
.main-row {
    border-bottom: 2px solid #add2ad;
}
.parent {
    color: darkblue;
}
.spouse {
    color: #48008b;
}
.child {
    color: #7a6e00;
}
.fact-type {
    font-size: small;
    color: #5e7283;
}
.date {
    color: darkblue;
    font-size: 14px;
}
.place {
    color: darkgreen;
    font-size: 12px;
}
.value {
    color: #38008b;
    font-size: 14px;
}
.sub-row {
    border-top: 1px dashed grey;
}

.con-holder {
    /* Workaround to get table in td to expand to full height */
    height: 1px;
}
.connector-table {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}
.con-O {
    border: none;
}
.con-I, .con-L {
    border: 2px #cca768;
}
.con-I {
    border-style: none none none dashed;
}
.con-L {
    border-style: none none dashed dashed;
}
.group-header {
    background-color: white;
    border-style: none;
}
.group-name {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.close-button {
    display: inline-block;
    vertical-align: top;
    color: darkred;
    background-color: #decfb5;
}
.add-to-group-button {
    display: inline-block;
    vertical-align: top;
    color: darkgreen;
    background-color: #decfb5;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
